openapi: 3.0.3
info:
  title: Daystar Public Data API
  version: 1.0.0
  description: >
    Read-only access to verified daily solar report data. See PUBLIC-DATA-API.md
    for the narrative documentation.
servers:
  - url: https://portal.daystarpower.com/api/public
    description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-daystar-api-key
  schemas:
    ReportRow:
      type: object
      properties:
        date:            { type: string, format: date, example: "2026-07-01" }
        siteId:          { type: string, example: "NBC_LAG_001" }
        customerId:      { type: string, format: uuid, nullable: true, description: "Per-row customer id. Useful for fleet-scoped consumers merging across customers." }
        solarKwh:        { type: number, format: double }
        consumptionKwh:  { type: number, format: double }
        generatorKwh:    { type: number, format: double }
        status:          { type: string, enum: [raw, verified] }
        verifiedAt:      { type: string, format: date-time, nullable: true }
    ReportResponse:
      type: object
      properties:
        scope:           { type: string, enum: [customer, fleet], description: "Which scope the requesting key has." }
        customerId:      { type: string, format: uuid, nullable: true, description: "For customer-scoped keys: the key's customer. For fleet-scoped keys: the customerId query param if provided, else null." }
        window:
          type: object
          properties:
            from:        { type: string, format: date }
            to:          { type: string, format: date }
        rows:
          type: array
          items: { $ref: "#/components/schemas/ReportRow" }
        count:           { type: integer, minimum: 0 }
    Error:
      type: object
      properties:
        error:           { type: string }
security:
  - ApiKeyAuth: []
paths:
  /report-data:
    get:
      summary: Verified daily report rows for a customer
      parameters:
        - in: query
          name: from
          required: true
          schema: { type: string, format: date }
          description: Inclusive window start (UTC).
        - in: query
          name: to
          required: true
          schema: { type: string, format: date }
          description: Inclusive window end (UTC). Max 366 days per request.
        - in: query
          name: siteIds
          required: false
          schema: { type: string }
          description: Comma-separated site IDs. Omit to include every site the API key covers.
        - in: query
          name: customerId
          required: false
          schema: { type: string, format: uuid }
          description: Fleet-scoped keys only. Restrict the response to one customer. Ignored for customer-scoped keys.
        - in: query
          name: status
          required: false
          schema: { type: string, enum: [verified, raw, all], default: verified }
      responses:
        "200":
          description: Report rows
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReportResponse" }
        "400":
          description: Bad request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Missing / invalid API key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
